[submodule "frontend"]
    path = frontend
    url = https://github.com/dev4living/HeyCommunity-frontend.git
    branch = dev-master
[submodule "backend"]
    path = backend
    url = https://github.com/dev4living/HeyCommunity-backend.git
    branch = dev-master
