<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    ##
    ## API
    #################
    RewriteBase /api
    RewriteRule ^(api.*)$ backend/public/index.php [L]


    ##
    ## ADMIN
    #################
    ## There is no admin dashboard


    ##
    ## Frontend
    #################
    RewriteBase /
    RewriteRule ^(uploads.*)$ backend/public/$1 [L]
    RewriteRule ^(build.*)$ frontend/www/$1 [L]
    RewriteRule ^(assets.*)$ frontend/www/$1 [L]
    RewriteRule ^(cordova.*)$ frontend/www/$1 [L]
    RewriteRule ^$ frontend/www/index.html [L]
</IfModule>
